/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require dataTables/jquery.dataTables
 *= require dataTables/extras/TableTools
 *= require bootstrap_and_overrides
 *= require bootstrap-datepicker
 *= require_self
 */
.simple_form label {
  float: left;
  /*width: 100px;*/
  text-align: right;
  margin: 2px 10px;
}

.simple_form div.input {
  margin-bottom: 10px;
}

.simple_form div.boolean, .simple_form input[type='submit'] {
  margin-left: 120px;
}

.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}

.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}

.simple_form .error {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}

.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

.simple_form #student_category{
  font-style: normal;
	    padding-left: 180px;
}
.simple_form #student p{
  position: absolute;
  padding-left: 57px;

  }
  /*.simple_form #sibling-detail label.collection_radio{*/
    /*width:50px;*/
  /*}*/
.simple_form #mother_data p{
  padding-left: 100px; 
}
.simple_form #father_data p{
  padding-left: 100px; 
}

.simple_form #child_need p{
  padding-left: 250px;
}
.page-header{
display:none;
}
input.upper { text-transform: uppercase; }
.logo img{
  padding-left: 210px;
  position: absolute;
  top: 55px;
  width: 85px;
@media print{
  body{
    background-color: #fff;
  }
  #container{
    width: auto;
    margin: 0;
    padding: 0;
    border: none;
  }
}